/* Globais */

.fluig-style-guide .row:nth-child(1n+2) {
    margin-top: 1em;
}

/* Gerais */

.aprovationArea {
    display: flex;
    justify-content: space-around;
}

.motivoAlteracao {
    color: firebrick !important;
    letter-spacing: -0.5px;
    transition: 0.5s ease-in;
    
}

.motivoAlteracao:hover {
    text-decoration: underline;
    transition: 0.5s ease-out;
}

#motivo::placeholder {
    color: #b9b9b9;
}

#pdfArea {
    display: flex;
    justify-content: center;
}